{% extends "layout/page.html" %}
{% block title %}Living Room{% endblock %}
{% block content %}
<div class='container-fluid shadow-lg p-3 mb-5 rounded'>
  <h1>Living Room</h1>
  <hr />
  <h3>TV Power</h3>
  <button class='btn btn-success btn-lg active' id='tv_power_on' onClick="reply_click(this.id)">On
  </button>
  <button class='btn btn-danger btn-lg active' id='tv_power_off' onClick="reply_click(this.id)">Off
  </button>
  <hr />
  <h3>Source Select</h3>
  <button class='btn btn-primary btn-lg active' id='apple_tv_source_select' onClick="reply_click(this.id)">Apple TV</button>
  <button class='btn btn-primary btn-lg active' id='chromecast_source_select' onClick="reply_click(this.id)">Chromecast</button>
  <button class='btn btn-primary btn-lg active' id='branden_desktop_source_select' onClick="reply_click(this.id)">Branden's PC</button>
  <button class='btn btn-primary btn-lg active' id='sarah_pc_source_select' onClick="reply_click(this.id)">Sarah's PC</button>
  <hr />
  <h3>Soundbar Volume Control</h3>
  <button class='btn btn-primary btn-lg active' id='soundbar_vol_mute' onClick="reply_click(this.id)">
    <i class="bi bi-volume-mute-fill"></i>
  </button>
  <button class='btn btn-primary btn-lg active' id='soundbar_vol_down' onClick="reply_click(this.id)">
    <i class="bi bi-volume-down-fill"></i>
  </button>
  <button class='btn btn-primary btn-lg active' id='soundbar_vol_up' onClick="reply_click(this.id)">
    <i class="bi bi-volume-up-fill"></i>
  </button>
  <hr />
  <h3>Control Panels</h3>
  <button type="button" class="btn btn-primary btn-lg active" data-toggle="modal" data-target="#chromecastModal"> Chromecast Controls </button>
  <div class="modal fade" id="chromecastModal" tabindex="-1" role="dialog" aria-labelledby="chromecastModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="chromecastModalLabel">Chromecast Controls</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <button class='btn btn-primary btn-lg active' id='chromecast_home' onClick="reply_click(this.id)">
            <i class="bi bi-house-fill"></i>
          </button>
          <button class='btn btn-primary btn-lg active' id='chromecast_back' onClick="reply_click(this.id)">
            <i class="bi bi-arrow-return-left"></i>
          </button>
          <button class='btn btn-primary btn-lg active' id='chromecast_play_pause' onClick="reply_click(this.id)">
            <i class="bi bi-play-fill"></i>
            <i class="bi bi-pause-fill"></i>
          </button>
          <br>
          <hr/>
          <button class='btn btn-primary btn-lg active' id='chromecast_up' onClick="reply_click(this.id)">
            <i class="bi bi-arrow-up"></i>
          </button>
          <br>
          <button class='btn btn-primary btn-lg active' id='chromecast_left' onClick="reply_click(this.id)">
            <i class="bi bi-arrow-left"></i>
          </button>
          <button class='btn btn-primary btn-lg active' id='chromecast_select' onClick="reply_click(this.id)">
            <i class="bi bi-record-fill"></i>
          </button>
          <button class='btn btn-primary btn-lg active' id='chromecast_right' onClick="reply_click(this.id)">
            <i class="bi bi-arrow-right"></i>
          </button>
          <br>
          <button class='btn btn-primary btn-lg active' id='chromecast_down' onClick="reply_click(this.id)">
            <i class="bi bi-arrow-down"></i>
          </button>
          <br>
          <hr/>
          <h6>Soundbar Volume</h6>
          <button class='btn btn-primary btn-lg active' onClick="reply_click('soundbar_vol_mute')">
            <i class="bi bi-volume-mute-fill"></i>
          </button>
          <button class='btn btn-primary btn-lg active' onClick="reply_click('soundbar_vol_down')">
            <i class="bi bi-volume-down-fill"></i>
          </button>
          <button class='btn btn-primary btn-lg active' onClick="reply_click('soundbar_vol_up')">
            <i class="bi bi-volume-up-fill"></i>
          </button>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <button type="button" class="btn btn-primary btn-lg active" data-toggle="modal" data-target="#appleTVModal"> Apple TV Controls </button>
  <div class="modal fade" id="appleTVModal" tabindex="-1" role="dialog" aria-labelledby="appleTVModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="appleTVModalLabel">Apple TV Control</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <button class='btn btn-primary btn-lg active' id='apple_tv_home' onClick="reply_click(this.id)">
            <i class="bi bi-house-fill"></i>
          </button>
          <button class='btn btn-primary btn-lg active' id='apple_tv_back' onClick="reply_click(this.id)">
            <i class="bi bi-arrow-return-left"></i>
          </button>
          <button class='btn btn-primary btn-lg active' id='apple_tv_play_pause' onClick="reply_click(this.id)">
            <i class="bi bi-play-fill"></i>
            <i class="bi bi-pause-fill"></i>
          </button>
          <button class='btn btn-primary btn-lg active' id='apple_tv_menu' onClick="reply_click(this.id)">
            Menu
          </button>
          <br>
          <hr/>
          <button class='btn btn-primary btn-lg active' id='apple_tv_up' onClick="reply_click(this.id)">
            <i class="bi bi-arrow-up"></i>
          </button>
          <br>
          <button class='btn btn-primary btn-lg active' id='apple_tv_left' onClick="reply_click(this.id)">
            <i class="bi bi-arrow-left"></i>
          </button>
          <button class='btn btn-primary btn-lg active' id='apple_tv_select' onClick="reply_click(this.id)">
            <i class="bi bi-record-fill"></i>
          </button>
          <button class='btn btn-primary btn-lg active' id='apple_tv_right' onClick="reply_click(this.id)">
            <i class="bi bi-arrow-right"></i>
          </button>
          <br>
          <button class='btn btn-primary btn-lg active' id='apple_tv_down' onClick="reply_click(this.id)">
            <i class="bi bi-arrow-down"></i>
          </button>
          <br>
          <hr/>
          <hr/>
          <h6>Soundbar Volume</h6>
          <button class='btn btn-primary btn-lg active' onClick="reply_click('soundbar_vol_mute')">
            <i class="bi bi-volume-mute-fill"></i>
          </button>
          <button class='btn btn-primary btn-lg active' onClick="reply_click('soundbar_vol_down')">
            <i class="bi bi-volume-down-fill"></i>
          </button>
          <button class='btn btn-primary btn-lg active' onClick="reply_click('soundbar_vol_up')">
            <i class="bi bi-volume-up-fill"></i>
          </button>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

<button type="button" class="btn btn-primary btn-lg active" data-toggle="modal" data-target="#TVModal"> TV Controls </button>
  <div class="modal fade" id="TVModal" tabindex="-1" role="dialog" aria-labelledby="TVModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TVModalLabel">TV Controls</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <button class='btn btn-success btn-lg active' id='tv_power_on' onClick="reply_click(this.id)">
            On
          </button>
          <button class='btn btn-danger btn-lg active' id='tv_power_off' onClick="reply_click(this.id)">
            Off
          </button>
          <button class='btn btn-primary btn-lg active' id='tv_exit' onClick="reply_click(this.id)">
            Exit
          </button>
            <button class='btn btn-primary btn-lg active' id='tv_home' onClick="reply_click(this.id)">Home
            </button>
            <button class='btn btn-primary btn-lg active' id='tv_menu' onClick="reply_click(this.id)">Menu
            </button>
          <br>
          <hr/>
          <button class='btn btn-primary btn-lg active' id='tv_up' onClick="reply_click(this.id)">
            <i class="bi bi-arrow-up"></i>
          </button>
          <br>
          <button class='btn btn-primary btn-lg active' id='tv_left' onClick="reply_click(this.id)">
            <i class="bi bi-arrow-left"></i>
          </button>
          <button class='btn btn-primary btn-lg active' id='tv_select' onClick="reply_click(this.id)">
            <i class="bi bi-record-fill"></i>
          </button>
          <button class='btn btn-primary btn-lg active' id='tv_right' onClick="reply_click(this.id)">
            <i class="bi bi-arrow-right"></i>
          </button>
          <br>
          <button class='btn btn-primary btn-lg active' id='tv_down' onClick="reply_click(this.id)">
            <i class="bi bi-arrow-down"></i>
          </button>
          <br>
          <br>
          <button class='btn btn-primary btn-lg active' id='tv_hdmi_1' onClick="reply_click(this.id)">
            HDMI 1
          </button>
          <button class='btn btn-primary btn-lg active' id='tv_hdmi_2' onClick="reply_click(this.id)">
            HDMI 2
          </button>
          <br>
          <hr/>
          <h6>Soundbar Volume</h6>
          <button class='btn btn-primary btn-lg active' onClick="reply_click('soundbar_vol_mute')">
            <i class="bi bi-volume-mute-fill"></i>
          </button>
          <button class='btn btn-primary btn-lg active' onClick="reply_click('soundbar_vol_down')">
            <i class="bi bi-volume-down-fill"></i>
          </button>
          <button class='btn btn-primary btn-lg active' onClick="reply_click('soundbar_vol_up')">
            <i class="bi bi-volume-up-fill"></i>
          </button>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <h3>Lights</h3>
    <button class='btn btn-success btn-lg active' id='living_room_on' onClick="hue(this.id)">
    On
  </button>
  <button class='btn btn-danger btn-lg active' id='living_room_off' onClick="hue(this.id)">
    Off
  </button>
  <br>
  <input type="range" class="form-range" min="0" max="254" step = "1" id="brightness_range" onClick="hue(this.id, this.value)">

  <script type=text/javascript>
    function reply_click(clicked_id) {
      $.post("/living_room_join_handler?button=" + clicked_id);
    }
    function hue(clicked_id, clicked_value) {
      if(clicked_value)
      {
        $.post("/hue?brightness=" + clicked_value);
        return;
      }
      $.post("/hue?button=" + clicked_id);
    }
  </script>
  {% endblock %}